body {
    margin: 0;
    font-family: Poppins, Arial, sans-serif;
    background: #0f0f0f;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #e50914;
}

.logo img {
    height: 120px;
    vertical-align: middle;

}

nav a {
    margin: 0 12px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: 500;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #e50914;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

section {
    padding: 60px 40px;
    display: none;
}

section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    text-align: center;
}

.hero p {
    color: #cccccc;
}

.hero-btns {
    margin: 20px 0px;
}

button {
    padding: 10px 20px;
    background: #e50914;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(229, 9, 20, 0.4);
}

button.outline {
    background: transparent;
    border: 1px solid #e50914;
}

button.outline:hover {
    background: #e50914;
}

.usp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.usp div {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.usp div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.cards div {
    background: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s ease;
}

.cards div:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}


.filter {
    text-align: center;
    margin-bottom: 25px;
}

.filter button {
    background: #222;
    border: 1px solid #333;
}

.filter button:hover {
    background: #e50914;
    border: 1px solid #e50914;
}

.mechanic-card {
    background: #1b1b1b;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: 0.4s ease;
    border: 1px solid transparent;
}

.mechanic-card:hover {
    transform: translateY(-10px);
    border: 1px solid #e50914;
    box-shadow: 0 12px 30px rgba(229, 9, 20, 0.3);
}

.mechanic-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #e50914;
    object-fit: cover;
    margin-bottom: 10px;
    transition: 0.4s;
}

.mechanic-card:hover img {
    transform: scale(1.08);
}


.badge {
    display: inline-block;
    margin-top: 12px;
    padding: 6px 16px;
    background: linear-gradient(45deg, #e50914, #ff3c3c);
    border-radius: 20px;
    font-size: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.4s ease;
    cursor: pointer;
    filter: brightness(85%);
}

.grid img:hover {
    transform: scale(1.08);
    filter: brightness(100%);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

form {
    max-width: 450px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

input,
select,
textarea {
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

textarea {
    resize: none;
    height: 90px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid #e50914;
    box-shadow: 0 0 8px rgba(229, 9, 20, 0.5);
}


.contact-info {
    text-align: center;
    color: #cccccc;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: #aaaaaa;
    margin-top: 40px;
}